table{
    border-collapse: collapse;
    width: 80%; 
    max-width: 500px; 
    border-radius: 5px;
    margin-top: 40px;
    position:absolute;
    text-align: center;
    margin-left: 250px !important;  
}
.user{
    margin-left: 250px !important;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height:400px;
    background-size:cover;
    overflow-x: hidden;
}
button {
    color:black;
    border:none;
    display:block;
    font-size: 20px;
    width:90px;
    padding: 10px ;
    border-radius:35px;
    border: 2px solid grey;
    background: none;
    font-weight: 500;
    margin-top: 20px !important;
}



